$default-blue: #00284F;

.feature-div {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.feature-card {
  margin-top: 3em;
  padding: 1em;
  border-radius: 10px; 
}

.glassy-background {
  background-color: rgba(255, 255, 255, 0.838);
  backdrop-filter: blur(10px); 
  h3 {
    color: $default-blue;
    font-size: 2.7em;
  }
  p {
    color: black;
    font-size: 1.5em;
  }
}

img {
  max-width: 100%;
  width: 70%;
  height: auto;
}

// For screens with a maximum width of 768px
@media (max-width: 680px) {
  .feature-div {
    max-width: 600px;
  }

  .feature-card {
    min-width: 300px;
    padding: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .glassy-background {
    h3 {
      color: $default-blue;
      font-size: 1.6em;
      margin: 1em;
    }
    p {
      color: black;
      font-size: 1em;
      margin: 1em;
    }
  }
}


// For screens with a maximum width of 480px
@media (max-width: 480) {
  .feature-div {
    margin-top: 2em;
  }

  .feature-card {
    width: 300px;
  }

  .glassy-background {
    max-width: 320px;
    h3 {
      color: $default-blue;
      font-size: 1.7em;
    }
    p {
      color: black;
      font-size: 1em;
    }
  }
}