.landing-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing {
  max-width: 800px; 
  padding: 20px;
  max-height: fit-content;
}

// For screens with a maximum width of 1200px, use fixed dimensions
@media (max-width: 1200px) {
  .landing {
    max-width: 80%;
  }
}


// For screens with a maximum width of 768px, use cover background size
@media (max-width: 768px) {
  -wrapper {
    justify-content: flex-start; /* Align content to the top when screen is small */
  }  
}

// For screens with a maximum width of 480px
@media (max-width: 480px) {
  .landing {
    padding: 0px;
  }

  .landing-wrapper {
    min-height: 0vh;
  }
}