$default-blue: #00284F;

.title {
  font-size: 4em;
  margin-top: 1.5em;
}

.testimonial-quote {
  font-size: 1.6em;
}

.testimonial-card {
  background-color: rgba(0, 40, 79, 0.7); // Semi-transparent background color
  backdrop-filter: blur(20px); // Blur effect for glass-like appearance 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 20px; 
  color: #fff; 
  margin: 1em;
  margin-bottom: 2em;
  border: #000000 2px solid;
}

// For screens with a maximum width of 768px
@media (max-width: 768px) {
  .title {
    font-size: 3em;
  }

  .testimonial-quote {
    font-size: 1em;
  }
}

// For screens with a maximum width of 370px
@media (max-width: 370) {
  .testimonial-card {
    margin:0.5em;
  }
}