#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.card {
  padding: 2em;
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.read-me-note {
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
  color: #7F4000;
  margin: 0.5em;
}

// For screens with a maximum width of 768px
@media (max-width: 768px) {
  .read-the-docs {
    font-size: 12px;
  }
}

// For screens with a maximum width of 480px
@media (max-width: 480px) {
  #root {
    padding-top: 0em;
  }
}