$main-background-color:#CC6700;
$default-text-color: ffffff;
$default-blue: #00284F;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: default-text-color;
  /* background-color: #491622; - Another option for background color */
  /* background-color: #00284F; - Another option for background color */ 
  /* background-color: #16234A; - Another option for background color */
  background-color: $main-background-color;

  text-rendering: optimizeLegibility;  // enhance the legibility of text by optimizing the way it is rendered, especially at smaller font sizes
  -webkit-font-smoothing: antialiased;  // applies anti-aliasing to text, which smoothens the edges of characters and improves their appearance on screens
  -moz-osx-font-smoothing: grayscale;  // applies anti-aliasing to text on Firefox browsers, using a grayscale method to improve text rendering
}

a {
  font-weight: 500;
  color: #C52B1E;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  color: $default-blue;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 200px;
  min-height: 100vh;
  flex-shrink: 2;

  background-image: url('https://raw.githubusercontent.com/glowiep/bp-site-mockup/c497f20315ba27f2ce9cfb15e50aca5c0613761f/src/assets/logo_1400.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  // Additional styles
  filter: drop-shadow(0 0 2em hsl(0, 0%, 100%));
  overflow-x: hidden;
}

h1 {
  font-size: 6em;
  line-height: 1.1;
  will-change: filter;
  transition: filter 300ms;
  // Glowing brightness effect
  animation: glow 2s ease-in-out infinite alternate;

}

h2 {
  color: #fff6a7;
  font-size: 2.5em;
  will-change: filter;
  
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #989898, 0 0 30px #16234A; 
  }
  to {
    text-shadow: 0 0 30px #16234A, 0 0 40px #16234A;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: $default-blue;
  // background-color: #C52B1E; //contrast orange
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}


// For screens with a maximum width of 768px
@media (max-width: 768px) {
  body {
    background-size: contain;
  }

  h1 {
    animation: none;
    font-size: 4.2em;
    line-height: 1;
    text-shadow: 0 0px 30px #000000;
  }

  h2 {
    animation: none;
    font-size: 2.8em;
    line-height: 1.1;
    width: 100%;
    text-shadow: 0 0 10px #000000;
    margin-top: 0px;
  }

  button {
    font-size: 2.2em;
    padding: 0.6em 0.8em;
    margin: 0.5em;
  }
}

// For screens with a maximum width of 615px
@media (max-width: 615px) {
  h1 {
    font-size: 3.8em;
    text-shadow: 0 0px 30px #000000;
  }

  h2 {
    animation: none;
    font-size: 2em;
    line-height: 1.1;
    width: 100%;
    text-shadow: 0 0 10px #000000;
    margin-top: 0px;
  }

  button {
    font-size: 2.2em;
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    margin: 0.5em;
  }
}

// For screens with a maximum width of 480px
@media (max-width: 480px) {
  body {
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-position: 0.5em center;
    background-origin: content-box;
    padding-top: 100px;
  }

  h1 {
    margin-top: 0em;
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  button {
    font-size: 1.2em;
    padding: 0.7em 0.8em;
    margin: 0.5em;
  }
}

// For screens with a maximum width of 370px
@media (max-width: 370) {
  body {
    min-width: 300px;
  }
  
  button {
    font-size: 1em;
  }
}